body{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    color:white;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Nunito Sans', sans-serif;
    height:400px;
    width:500px;
     text-align: center;
    background-color:#9384D1 ;
    padding:20px;
    border-radius:20px;
   
}
td{
    border: 2px solid white;
}