body{
    
}
.logo{
    height:150px;
    width:150px;
}
.logo img{
    height:130px;
    width:130px;
}
.name{
    font-size:40px;
    padding-left: 100px;
    padding-right:100px;
}
.collage{
    font-size: 20px;
}
table{
    height:400px;
    width:600px;
}
.schooling:hover{
    height:470px;
    width:670px;
}